Step 1. Import the necessary libraries

In [1]:
import pandas as pd

Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

Step 3. Assign it to a variable called

In [3]:
pokemon = pd.DataFrame(raw_data)

In [5]:
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]

In [9]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

Step 5. Add another column called place, and insert what you have in mind.

In [10]:
pokemon['place'] = ['City','park', 'battleground', 'streetroads']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
pokemon

         name   type  hp   evolution pokedex         place
0   Bulbasaur  grass  45     Ivysaur     yes          City
1  Charmander   fire  39  Charmeleon      no          park
2    Squirtle  water  44   Wartortle     yes  battleground
3    Caterpie    bug  45     Metapod      no   streetroads

Step 6. Present the type of each column

In [13]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

In [14]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

BONUS: Create your own question and answer it.

# how many total values are there in Df, 
# how many integer values are there, 
# how many categorical values are there, whats the value count for it.

In [15]:
#how many total values are there in Df,

pokemon.shape

(4, 6)

In [19]:
#how many integer values are there,

pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

In [20]:
#how many categorical values are there, whats the value count for it.

pokemon

         name   type  hp   evolution pokedex         place
0   Bulbasaur  grass  45     Ivysaur     yes          City
1  Charmander   fire  39  Charmeleon      no          park
2    Squirtle  water  44   Wartortle     yes  battleground
3    Caterpie    bug  45     Metapod      no   streetroads

In [21]:
pokemon['pokedex'].value_counts()

no     2
yes    2
Name: pokedex, dtype: int64