In [17]:
import pandas as pd
import numpy as np

In [5]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [6]:
cars1.head()

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]

In [7]:
cars2.head()

    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

In [9]:
#Ops it seems our first dataset has some unnamed blank columns, fix cars1
cars1 = cars1.loc[:, 'mpg':'car']
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [10]:
#What is the number of observations in each dataset?

print(cars1.shape, '\n')
print(cars2.shape)

(198, 9)

(200, 9)

In [14]:
#Join cars1 and cars2 into a single DataFrame called cars

cars = cars1.append(cars2)

In [16]:
cars

      mpg  cylinders  displacement  ... model  origin                        car
0    18.0          8           307  ...    70       1  chevrolet chevelle malibu
1    15.0          8           350  ...    70       1          buick skylark 320
2    18.0          8           318  ...    70       1         plymouth satellite
3    16.0          8           304  ...    70       1              amc rebel sst
4    17.0          8           302  ...    70       1                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
195  27.0          4           140  ...    82       1            ford mustang gl
196  44.0          4            97  ...    82       2                  vw pickup
197  32.0          4           135  ...    82       1              dodge rampage
198  28.0          4           120  ...    82       1                ford ranger
199  31.0          4           119  ...    82       1                 chevy s-10

[398 rows x 9 columns]

In [27]:
#Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

random_num = np.random.randint(15000, high=73001, size=398, dtype='l')
random_num

array([66412, 67835, 52753, 21219, 48170, 71537, 31938, 36743, 54935,
       49813, 34492, 68689, 45803, 36681, 40262, 45024, 26559, 20222,
       30409, 62437, 19923, 24610, 53500, 55017, 33102, 59224, 31674,
       49747, 19889, 37864, 69659, 61534, 55105, 60769, 43001, 52974,
       51366, 39125, 71232, 42651, 63741, 29305, 57708, 69580, 58989,
       54925, 36982, 44280, 41085, 38878, 32756, 67702, 46505, 19860,
       59818, 18271, 54075, 46156, 39408, 61746, 33327, 33305, 53853,
       15363, 32034, 36019, 67844, 38272, 64408, 64597, 64267, 42860,
       59700, 61150, 34876, 29270, 16279, 72751, 20452, 62846, 62534,
       52307, 47853, 49249, 19246, 64791, 24392, 19748, 34451, 48225,
       39565, 16678, 70822, 47157, 57247, 67875, 41529, 58396, 64674,
       50342, 50280, 55597, 37592, 32157, 37717, 66446, 29096, 15882,
       23932, 43092, 49980, 39029, 22764, 57904, 35098, 43644, 48106,
       67450, 62262, 42716, 65760, 36070, 27955, 47831, 69116, 35039,
       16928, 32189, 29453, 37040, 44845, 30262, 34623, 71903, 42227,
       41397, 35730, 43582, 42820, 36324, 29502, 41289, 61434, 36056,
       53116, 42222, 40040, 16467, 72981, 33786, 50082, 23952, 25524,
       36651, 33067, 20421, 55215, 32492, 50132, 22227, 72371, 58764,
       22893, 53140, 63323, 67722, 26816, 61632, 68597, 16968, 70591,
       56547, 72519, 61647, 18500, 30706, 23447, 27136, 51738, 70474,
       41439, 21607, 49470, 40503, 41109, 23890, 47187, 48892, 29265,
       36339, 15178, 64235, 15902, 51472, 47835, 23399, 45139, 34879,
       67439, 63852, 65923, 18017, 28990, 21528, 47927, 36508, 65077,
       43740, 29942, 20371, 36697, 56785, 36618, 19474, 54334, 19374,
       22098, 18922, 69634, 35291, 32008, 53849, 71319, 31371, 31701,
       45766, 60645, 66714, 61884, 59006, 40706, 71431, 72281, 45916,
       61952, 20773, 63535, 52175, 60200, 35305, 64342, 20575, 21005,
       67675, 34841, 43788, 32131, 56990, 33896, 69974, 51869, 25807,
       49222, 21586, 70899, 22092, 45175, 68655, 25557, 40929, 47178,
       60671, 65803, 52575, 54364, 32812, 61527, 42144, 48246, 63155,
       48403, 65805, 37485, 40512, 43998, 33470, 22448, 68137, 56486,
       47524, 71755, 53326, 29049, 64879, 67730, 15851, 57023, 29740,
       25342, 19778, 15802, 48357, 70022, 53373, 52663, 68173, 40526,
       52154, 68860, 27147, 59777, 33460, 24060, 70521, 64703, 44762,
       28001, 50213, 28742, 56843, 60777, 21908, 19647, 42939, 48894,
       45246, 35078, 51019, 25531, 71980, 34430, 38399, 22746, 39680,
       36872, 30208, 33564, 55346, 32762, 30486, 23061, 29569, 71954,
       32201, 29390, 64688, 54167, 37617, 18193, 69825, 53298, 34979,
       26844, 61420, 63129, 41202, 40055, 64869, 22575, 45459, 66580,
       47202, 57437, 28395, 63875, 23019, 66671, 35996, 51052, 59456,
       64114, 52189, 65049, 52201, 40803, 49350, 17885, 18635, 46133,
       38260, 19161, 67655, 68594, 56858, 18844, 44888, 67480, 62529,
       58650, 26732, 32220, 15194, 72910, 48999, 34384, 39512, 59008,
       48627, 36258, 39654, 54850, 70350, 23087, 26523, 52852, 29543,
       16432, 22335])

In [28]:
#Add the column owners to cars

cars['owners'] = random_num

In [29]:
cars.tail()

      mpg  cylinders  displacement  ... origin              car  owners
195  27.0          4           140  ...      1  ford mustang gl   26523
196  44.0          4            97  ...      2        vw pickup   52852
197  32.0          4           135  ...      1    dodge rampage   29543
198  28.0          4           120  ...      1      ford ranger   16432
199  31.0          4           119  ...      1       chevy s-10   22335

[5 rows x 10 columns]